* {
    .main-header {
        .right-div {
            cursor: pointer;
        }
    }
    .view-section{
        height: calc(100vh - 56px) !important;
        overflow: hidden;
        $sidebar-width: 0%;
        > div.sidebar{
            z-index: 100000000000;
            width: $sidebar-width;
            overflow: hidden;
            transition: 1s;
            box-shadow:  1px 1px 5px #333;
            ul{
                list-style: none;
                a{
                    text-decoration: none;
                    li{
                        background-color: white;
                        padding: 5px 10px;
                        transition: 1s;
                        &:hover{
                            background-color: #6EACDA;
                            color: white !important;
                        }
                    }
                }
            }
            &.open{
                $sidebar-width: 17%;
                width: $sidebar-width;
            }
        }
        > .viewer{
            width: calc(100% - $sidebar-width);
            background: linear-gradient(151deg, rgba(255,255,255,1) 39%, rgba(110,172,218,1) 100%, rgba(255,255,255,1) 100%);
            // background: linear-gradient(151deg, rgba(255,255,255,1) 16%, rgba(110,172,218,1) 100%, rgba(255,255,255,1) 100%);
        }
    }
}