*{
    .cards{
        // padding: 0 !important;
        // margin: 0 !important;
        width: 420px;
        height: 200px;
        cursor: pointer;
        display: flex !important;
        border-radius: 0  20px ;
        background-color: white;
        // box-shadow: 1px 1px 5px black;
        border: 2px solid #eee;
        &:hover{
            box-shadow: 0px 0px 5px #333;
        }
        div:nth-child(1){
            > img{
                border-radius: 5px;
            }
        }
        div:nth-child(2){
            position: relative;
            > ul{
                list-style: none;
                padding: 0 10px;
            }
            .book-info{
                position: absolute;
                bottom: 0;
                width: 97% !important;
                > div{
                    .title{
                        margin: 0 !important;
                    }
                }
            }
        }
    }
}