* {
    .main-header {
        background-color: #0f0f0f !important;
        z-index: 10000;

        .right-div {
            cursor: pointer;
        }
    }

    .view-section {
        color: white;
        height: calc(100vh - 51px) !important;
        overflow: hidden;
        $sidebar-width: 0%;
        // background-color: #171717 !important;
        background-color: #0f0f0f !important;

        >div.sidebar {
            background-color: #0f0f0f !important;
            z-index: 1000;
            width: $sidebar-width;
            overflow: hidden;
            transition: .5s;
            // box-shadow: 2px 2px 5px white;

            ul {
                list-style: none;

                a {
                    text-decoration: none;

                    li {
                        height: 40px;
                        padding: 0 10px;
                        transition: .5s;

                        &:hover {
                            background-color: #b8b8b89a;
                        }
                    }
                }
            }

            &.open {
                $sidebar-width: 220px;
                width: $sidebar-width;
            }
        }

        >.viewer {
            width: calc(100% - $sidebar-width);
            transition: .5s;
        }
    }
}